<ol class="breadcrumb">
  <li class="active">
    <h4><%= t 'common.edit' %></h4>
  </li>
</ol>

<%= render 'form' %>

<%= link_to t('common.show'), @org %>
<%= link_to t('common.back'), orgs_path %>
